
#template{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    flex-direction: column;
    gap: 30px;
}

#inputBox{
    position: relative;
    width: 250px;
}
#inputBox input{
    width: 100%;
    padding: 10px;
    border: 1px solid;
    border-radius: 5px;
    outline: none;
    color: black;
    font-size: 1em;
}
#inputBox span{
    position: absolute;
    left: 0;
    top: -35px;
    padding: 10px;
    pointer-events: none;
    font-size: 1em;
    color: black;
    text-transform: uppercase; 
 }
#blocker1{
    width:500px;
}
.imageUpload{
    width: 100px;
    height: 100px;
    align-items: center;
    justify-content: center;
   
}
.uploadImageLabel{
    display: block;
    width: 200px;
    background: blue;
    color: white;
    padding: 12px;
    margin: 10px auto;
    border-radius: 5px;
    cursor: pointer;
}
#input-file{
    display: none;
}