.menu_btn_wrapper {
  text-shadow: none;
}



.menu_items {
  z-index: 1;
  width: 360px;
  height: 100vh;
  position: fixed;
  top: 0;
  left: -360px;
  background: rgba(255, 255, 255, 0.8);
  box-shadow: 0px 4px 5px 3px rgba(143, 143, 143, 0.45);
}

.menu_items_wrapper {
  width: 100%;
  height: auto;
  padding-top: 160px;
}

.separation_line {
  background-color: #dadada71;
  width: 92%;
  height: 3px;
  margin: 5px 0 3px 20px;
  border-radius: 50px;
}

.menu_items > .menu_items_wrapper > li::marker {
  content: "";
}

.menu_items > .menu_items_wrapper > li {
  line-height: 0%;
  padding: 12px 20px;
}

.menu_items > .menu_items_wrapper > li > a {
  color: rgb(0, 0, 0);
  font-family: Poppins;
  font-size: 22px;
  text-decoration: none;
}

.menu_items > .menu_items_wrapper > li > a:hover {
  font-weight: 600;
  letter-spacing: 2px;
}
