@media only screen and (max-width: 862px) {
  #search_box_wrapper {
    max-width: 88%;
  }
}

@media only screen and (min-width: 1079px) {
  #h_wrapper h3 {
    padding-left: 100px;
  }
}

@media only screen and (max-width: 1078px) {
  #display_recipes_wrapper {
    max-width: 600px;
  }

  #h_wrapper h3 {
    padding-left: 238px;
  }
}

@media only screen and (max-width: 795px) {
  #display_recipes_wrapper {
    max-width: 302px;
  }

  #h_wrapper h3 {
    padding-left: 384px;
  }
}

@media only screen and (max-width: 500px) {
  .arrow {
    display: none;
  }
}

#wrapper {
  height: calc(100% - 270px);
  width: 100vw;
}

#search_box_out_wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 150px;
}

#search_box_wrapper {
  width: 600px;
  height: 60px;
  background-color: rgba(255, 255, 255, 0.75);
  border: white solid 4px;
  border-radius: 200px;
  box-shadow: 0px 2px 10px 3px #cfcfcfb9;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

#search_box_wrapper input {
  border: none;
  background: none;
  outline: none;
  font-size: 26px;
  width: 88%;
}

#search_box_wrapper button {
  border: none;
  background: none;
  cursor: pointer;
}

#display_recipes_outer_outer_wrapper {
  margin-top: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#display_recipes_outer_wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1040px;
}

#h_wrapper {
  width: 1040px;
}

#h_wrapper h3 {
  color: white;
  font-style: italic;
  font-weight: 800;
}

#display_recipes_wrapper {
  width: 880px;
  overflow: hidden;
}

.arrow {
  height: 80px;
  width: 80px;
  border-radius: 50%;
  border-style: none;
  transition: 0.4s ease;
  background-color: transparent;
  position: relative;
}

#inner_left_arrow {
  position: absolute;
  top: 20px;
  left: 23px;
}

#inner_right_arrow {
  position: absolute;
  top: 20px;
  right: 23px;
}

#arrleft:hover {
  box-shadow: 0px 0px 2px 2px rgb(255, 255, 255);
}

#arrleft div {
  height: 40px;
  width: 40px;
  border-top: 8px solid rgb(255, 255, 255);
  border-left: 8px solid rgb(255, 255, 255);
  transform: rotate(315deg);
}

#arrright:hover {
  box-shadow: 0px 0px 2px 2px rgb(255, 255, 255);
}

#arrright div {
  height: 40px;
  width: 40px;
  border-top: 8px solid rgb(255, 255, 255);
  border-left: 8px solid rgb(255, 255, 255);
  transform: rotate(135deg);
}
