#wrapper {
  height: calc(100% - 100px);
  width: 100vw;
  position: absolute;
  top: 100px;
  padding: 70px 40px 0px 40px;
  display: flex;
  justify-content: center;
}

#center_wrapper {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}
