.background{
     height: 100%;
}
#oval1 {
     z-index: -1;
    position: absolute;
   
    left: 0px;
    top: 350px;
    width: 10%; 
    height: 100vh; 
    background: #ffafaf;
    border-top-left-radius: 200px;
    border-top-right-radius: 200px;
    box-shadow: 
         0px -10px 15px -10px black;
    transform: scale()
 }
 #oval2 {
     z-index: -1;
    position: absolute;
    top: 350px;
    left: 10%;
    width: 10%; 
    height: 100%; 
    background: #ff9595;
    border-top-left-radius: 200px;
    border-top-right-radius: 200px;
    box-shadow: 
         2px -10px 15px -10px black;
 }
 #oval3 {
     z-index: -1;
    position: absolute;
    left: 20%;
    top: 350px;
    width: 10%; 
    height: 100%; 
    background: #ffafaf;
    border-top-left-radius: 200px;
    border-top-right-radius: 200px;
    box-shadow: 
         0px -11px 15px -10px black;
 }
 #oval4 {
     z-index: -1;
    position: absolute;
    left: 30%;
    top: 350px;
    width: 10%; 
    height: 100%; 
    background: #ff9595;
    border-top-left-radius: 200px;
    border-top-right-radius: 200px;
    box-shadow: 
         0px -11px 15px -10px black;
 }
 #oval5 {
     z-index: -1;
    position: absolute;
    left: 40%;
    top: 350px;
    width: 10%; 
    height: 100%; 
    background:#ffafaf;
    border-top-left-radius: 200px;
    border-top-right-radius: 200px;
    box-shadow: 
         0px -11px 15px -10px black;
 }
 #oval6 {
     z-index: -1;
    position: absolute;
    left: 50%;
    top: 350px;
    width: 10%; 
    height: 100%; 
    background: #ff9595;
    border-top-left-radius: 200px;
    border-top-right-radius: 200px;
    box-shadow: 
         0px -11px 15px -10px black;
 }
 #oval7 {
     z-index: -1;
    position: absolute;
    left: 60%;
    top: 350px;
    width: 10%; 
    height: 100%; 
    background: #ffafaf;
    border-top-left-radius: 200px;
    border-top-right-radius: 200px;
    box-shadow: 
         0px -11px 15px -10px black;
 }
 #oval8 {
     z-index: -1;
    position: absolute;
    left: 70%;
    top: 350px;
    width: 10%; 
    height: 100%; 
    background: #ff9595;
    border-top-left-radius: 200px;
    border-top-right-radius: 200px;
    box-shadow: 
         0px -11px 15px -10px black;
 }
 #oval9 {
     z-index: -1;
    position: absolute;
    left: 80%;
    top: 350px;
    width: 10%; 
    height: 100%; 
    background:#ffafaf;
    border-top-left-radius: 200px;
    border-top-right-radius: 200px;
    box-shadow: 
         0px -11px 15px -10px black;
 }
 #oval10 {
     z-index: -1;
    position: absolute;
    left: 90%;
    top: 350px;
    width: 10%; 
    height: 100%; 
    background: #ff9595;
    border-top-left-radius: 200px;
    border-top-right-radius: 200px;
    box-shadow: 
         0px -11px 15px -10px black;
 }