:root {
  --main-bg-color: #ffafaf;
  --sec-bg-color: #ff9595;
}

#root {
  height: 100%;
}

#oval_wrapper {
  display: flex;
  position: fixed;
  top: 120px;
  z-index: -1;
  height: calc(100% - 120px);
  width: 100vw;
}

.oval {
  background-color: var(--main-bg-color);
  height: 100%;
  width: 180px;
  border-top-left-radius: 200px;
  border-top-right-radius: 200px;
  box-shadow: inset 0px 12px 5px -4px rgba(84, 84, 84, 0.23);
}

.oval:nth-child(2n) {
  background-color: var(--sec-bg-color);
}
