:root {
  --main-bg-color: #ffafaf;
  --sec-bg-color: #ff9595;
}

#background_wrapper {
  height: 100%;
  width: 100%;

  z-index: -1;
  position: fixed;
  top: 0;
  left: 0;

  display: flex;
  justify-content: center;
  align-items: flex-end;
  overflow: hidden;
}

.oval {
  background-color: var(--main-bg-color);
  height: calc(100% - 100px);
  width: 130px;
  border-top-left-radius: 200px;
  border-top-right-radius: 200px;
  box-shadow: inset 0px 8px 5px -4px rgba(53, 53, 53, 0.37);
}

.oval:nth-child(2n) {
  background-color: var(--sec-bg-color);
}

@media only screen and (max-width: 401px) {
  .oval {
    width: 76px;
  }
}

@media only screen and (min-width: 402px) and (max-width: 768px) {
  .oval {
    width: 100px;
  }
}

@media only screen and (min-width: 769px) and (max-width: 1024px) {
  .oval {
    width: 110px;
  }
}

@media only screen and (min-width: 1025px) and (max-width: 1440px) {
  .oval {
    width: 120px;
  }
}
