header {
  display: flex;
  justify-content: space-around;
  height: 100px;
  font-family: Long Cang;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.seperator {
  margin: 0 20px;
  height: 100%;
  line-height: 90px;
  font-size: 36px;
}

.navigation {
  height: 100%;
  line-height: 106px;
  font-size: 34px;
  text-decoration: none;
  color: black;
}

.navigation:hover {
  text-decoration: underline;
}

#brand_name img {
  height: 66px;
  margin-top: 18px;
  margin-right: 3px;
  border: solid 2px black;
  border-radius: 5px;
}

#brand_name div {
  height: 100%;
  line-height: 96px;
  font-size: 92px;
}

#brand_name {
  height: 100%;
  display: flex;
}

#brand_name:hover {
  text-decoration: none;
}

#nav_wrapper {
  display: flex;
  height: 100%;
}

@media only screen and (max-width: 1160px) {
  #brand_name div {
    display: none;
  }
}

@media only screen and (max-width: 920px) {
  .seperator {
    margin: 0 10px;
  }
}

@media only screen and (max-width: 860px) {
  #brand_name div {
    display: block;
  }
}

.utility_wrapper {
  display: flex;
  gap: 40px;
  align-items: center;
  position: relative;
  height: 100%;
  padding-top: 8px;
}

#favourite_recipes {
  background-color: transparent;
  border: none;
}

#favourite_recipes:active {
  text-decoration: none;
}

#favourite_recipes:hover > img {
  content: url("../../img/icon_heart_red.png");
}

#login_btn {
  height: 48px;
  line-height: 54px;
  border: none;
  background: transparent;
  font-family: Jomhuria;
  font-size: 80px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#language_selection {
  height: 46px;
  line-height: 54px;
}

#language_selection:hover ~ .lang_wrapper {
  z-index: 0;
  display: block;
}

.lang_wrapper:hover {
  z-index: 0;
  display: block;
}

.lang_wrapper {
  position: absolute;
  top: 90px;
  right: 4px;
  z-index: -10;
  display: none;
  cursor: pointer;

  height: 32px;
  line-height: 32px;
  font-family: Poppins;
  font-size: 34px;
  text-shadow: none;
}
