#box_wrapper_wrapper {
  height: calc(100vh - 120px);
  display: flex;
  justify-content: center;
  align-items: center;
}

#box_wrapper {
  display: flex;
  justify-content: center;
  height: 500px;
  border: solid 2px black;
}

#left {
  width: 350px;
  background-color: aliceblue;
}

#right {
  width: 500px;
  padding: 12px 20px;
}

#input {
  border: none;
  outline: none;
  height: 40px;
}
